In [4]:
#1
import pandas as pd
data=['上海','北京','深圳']
p1= pd.Series(index=data)
print (p1)

SyntaxError: positional argument follows keyword argument (<ipython-input-4-dd3b05b8683d>, line 4)

In [6]:
#2
frame=pd.DataFrame(data,columns=['城市'])
print (frame)

   城市
0  上海
1  北京
2  深圳

In [7]:
#3
p2= pd.Series(['沪','京','粤'])
frame['简称']=p2
frame

   城市 简称
0  上海  沪
1  北京  京
2  深圳  粤

In [8]:
#4
p3= pd.Series(['A','B','C'],index=[0,2,1])
frame['编号']=p3
frame

   城市 简称 编号
0  上海  沪  A
1  北京  京  C
2  深圳  粤  B

In [9]:
#5
pd.concat([p1,p2])

0    上海
1    北京
2    深圳
0     沪
1     京
2     粤
dtype: object

In [10]:
#6
import numpy as np
p4=pd.Series(['北京','上海','广州'])
list1=p4.values.tolist()
list2=p1.values.tolist()
print (list1,'\n',list2)
pd.Series(list(set(list1)-(set(list2))))

['北京', '上海', '广州']
 ['上海', '北京', '深圳']

0    广州
dtype: object

In [11]:
#7
pd.Series(list(set(list2).union(set(list1))))

0    广州
1    上海
2    北京
3    深圳
dtype: object

In [12]:
#8
a=pd.Series([0,1,3,4,5,6])
3%2
a[a%2==0].index

Int64Index([0, 3, 5], dtype='int64')

In [14]:
#9
b=pd.Series(['qwer','adsf','zvc'])
c=[]
for i in b:
    c.append(i.capitalize())
print (pd.Series(c))

0    Qwer
1    Adsf
2     Zvc
dtype: object

In [15]:
#10
b=pd.Series(['qwerty','adsfgh','zvcxbn','ae','io','uy'])
c=[]
for i in b:
    if i.count('a')+i.count('e')+i.count('i')+i.count('o')+i.count('u')>1:
        c.append(i)
print (c)

['ae', 'io']

In [16]:
#11
import re
lis=["zjz@163.com","zjz163.com","zjz@163com"]
res=[]
for string in lis:
    if re.match( r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+[\.][a-zA-Z0-9_-]+$', string, re.M|re.I):
        res.append(string)
print (res)

['zjz@163.com']

In [22]:
#12
frame['a']=[15,17,13]
print (frame)
print (frame[frame['a']==frame['a'].max()])

   城市 简称 编号   a
0  上海  沪  A  15
1  北京  京  C  17
2  深圳  粤  B  13
   城市 简称 编号   a
1  北京  京  C  17

In [23]:
#13
frame.rename(columns={'城市':'城市名'}, inplace=True)
print (frame)

  城市名 简称 编号   a
0  上海  沪  A  15
1  北京  京  C  17
2  深圳  粤  B  13

In [67]:
#14
df1 = pd.DataFrame({'a':pd.Series([1,2,3,4],index=['aa','bb','cc','dd']),'b':pd.Series([5,6,7],index=['aa','bb','cc']),'c':pd.Series([8,9],index=['aa','dd'])})

print ("原始数据\n",df1)
for i in df1:
    print (i, end=' ')
    cnt=0
    for j in df1[i].values:
        #print (j)
        if not(j==j):
            cnt+=1
    print (cnt)

原始数据
     a    b    c
aa  1  5.0  8.0
bb  2  6.0  NaN
cc  3  7.0  NaN
dd  4  NaN  9.0
a 0
b 1
c 2

In [80]:
#15
df1 = pd.DataFrame({'a':pd.Series([1,2,3,4],index=['aa','bb','cc','dd']),'b':pd.Series([5,6,7],index=['aa','bb','cc']),'c':pd.Series([8,9],index=['aa','dd'])})

print ("原始数据\n",df1)
df2=pd.DataFrame()
for i in df1:
    c=[]
    print (np.average(df1[i].values))
    for j in df1[i].values:
        #print (j)
        if not(j==j):
            c.append(np.mean(df1[i].values[df1[i]==df1[i]]))
        else:
            c.append(j)
        print (c)
    df2[i]=pd.Series(c)
print (df2)

原始数据
     a    b    c
aa  1  5.0  8.0
bb  2  6.0  NaN
cc  3  7.0  NaN
dd  4  NaN  9.0
2.5
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
nan
[5.0]
[5.0, 6.0]
[5.0, 6.0, 7.0]
[5.0, 6.0, 7.0, 6.0]
nan
[8.0]
[8.0, 8.5]
[8.0, 8.5, 8.5]
[8.0, 8.5, 8.5, 9.0]
   a    b    c
0  1  5.0  8.0
1  2  6.0  8.5
2  3  7.0  8.5
3  4  6.0  9.0

In [84]:
#16
df2=pd.DataFrame(df1['a'])
print (df2)

    a
aa  1
bb  2
cc  3
dd  4

In [99]:
#17
df3=pd.DataFrame()
for i in df1:
    c=[]
    for j in df1[i].values:
        if(j==j):
            c.append(str(j*100)+'%')
        else:
            c.append(j)
    df3[i]=c
print (df3)

      a       b       c
0  100%  500.0%  800.0%
1  200%  600.0%     NaN
2  300%  700.0%     NaN
3  400%     NaN  900.0%

In [4]:
#18
df1=pd.DataFrame({'a':[23,51,32,2,2],'b':[23,65,72,8,123],'c':[443,-532,234,9,23],'d':[0,9,7,65,83]})
df2=pd.DataFrame(columns=('a', 'b', 'c','d'))
print ("原始数据\n",df1,"\n\n取得的列")
for i in range(df1.shape[0]):
    #print (df1.iloc[i].sum())
    if df1.iloc[i].sum()>100:
        print (df1.iloc[i])
        df2.loc[i]=df1.iloc[i]
print (df2)
print ("取得的最后两行\n",df2.iloc[-2].values,df2.iloc[-1].values)

原始数据
     a    b    c   d
0  23   23  443   0
1  51   65 -532   9
2  32   72  234   7
3   2    8    9  65
4   2  123   23  83

取得的列
a     23
b     23
c    443
d      0
Name: 0, dtype: int64
a     32
b     72
c    234
d      7
Name: 2, dtype: int64
a      2
b    123
c     23
d     83
Name: 4, dtype: int64
    a    b    c   d
0  23   23  443   0
2  32   72  234   7
4   2  123   23  83
取得的最后两行
 [32 72 234 7] [2 123 23 83]

In [22]:
#19
print (df1)
a=df1.index.tolist()
# a[3],a[4]=a[4],a[3]
# print (a)
#print (a.index(3),(a.index(4)))
#a[3],a[4]=a[4],a[3]
c=a.index(3)
d=a.index(4)
a[c],a[d]=a[d],a[c]
print (df1.iloc[a])

    a    b    c   d
0  23   23  443   0
1  51   65 -532   9
2  32   72  234   7
3   2    8    9  65
4   2  123   23  83
    a    b    c   d
0  23   23  443   0
1  51   65 -532   9
2  32   72  234   7
4   2  123   23  83
3   2    8    9  65

In [24]:
#20
print (df1)
df1=df1.sort_index(ascending=False)
print (df1)

    a    b    c   d
0  23   23  443   0
1  51   65 -532   9
2  32   72  234   7
3   2    8    9  65
4   2  123   23  83
    a    b    c   d
4   2  123   23  83
3   2    8    9  65
2  32   72  234   7
1  51   65 -532   9
0  23   23  443   0

In [44]:
#21
c=[]
d=[]
for i in range(df1.shape[0]):
    c.append(df1.columns.values.tolist()[df1.iloc[i].values.tolist().index(df1.iloc[i].values.max())])
print (c)
for i in c:
    if i not in d:
        d.append(i)
print ('去重后：',d)

['b', 'd', 'c', 'b', 'c']
去重后： ['b', 'd', 'c']

In [51]:
#22
c=[]
d=[]
for i in range(df1.shape[0]):
    c.append(df1.iloc[i].values.min()/df1.iloc[i].values.max())
print ('行 ',c)
for j in df1:
    d.append(df1[j].values.min()/df1[j].values.max())
print ('列 ',d)

行  [0.016260162601626018, 0.03076923076923077, 0.029914529914529916, -8.184615384615384, 0.0]
列  [0.0392156862745098, 0.06504065040650407, -1.200902934537246, 0.0]

In [66]:
#23
print (df1,'\n\n')
c=[]
for i in range(df1.shape[0]):
    d=df1.iloc[i].values
    d.sort()
    c.append(d.tolist()[-2])
print (c)

     a   b   c    d
4    2  23  83  123
3    2   8   9   65
2    7  32  72  234
1 -532   9  51   65
0    0  23  23  443


[83, 9, 72, 51, 23]

In [72]:
#24
df1=pd.DataFrame({'a':[23,23,46,51,32,2,2],'b':[23,65,72,8,72,8,123],'c':[443,-532,72,8,234,9,23],'d':[72,8,23,51,32,2,2],'e':[23,72,8,65,72,8,123],'f':[443,-532,234,9,72,8,23],'g':[0,9,72,8,7,65,83]})
print (df1)
print (df1.groupby('a').get_group(2))

    a    b    c   d    e    f   g
0  23   23  443  72   23  443   0
1  23   65 -532   8   72 -532   9
2  46   72   72  23    8  234  72
3  51    8    8  51   65    9   8
4  32   72  234  32   72   72   7
5   2    8    9   2    8    8  65
6   2  123   23   2  123   23  83
   a    b   c  d    e   f   g
5  2    8   9  2    8   8  65
6  2  123  23  2  123  23  83

In [98]:
#25
df1=pd.DataFrame({'a':[23,23,46,51,32,2,2],'b':[23,65,72,8,72,8,123],'c':[443,-532,72,8,234,9,23],'d':[72,8,23,51,32,2,2],'e':[23,72,8,65,72,8,123],'f':[443,-532,234,9,72,8,23],'g':[0,9,72,8,7,65,83]})
df2=pd.DataFrame({'a':[23,23,46,51,32,2,3],'b':[23,65,72,9,72,8,123],\
                  'c':[443,-532,72,8,233,9,23],'d':[72,8,23,51,32,2,2]\
                  ,'e':[23,72,8,65,72,8,123],'f':[443,-532,234,9,72,8,23],'g':[0,9,72,8,7,65,83]})
df3=df1.copy()
print (df1,'\n\n',df2)
for i in range(df1.shape[0]):
    for j in range(df2.shape[0]):
        #print (df1.iloc[i].values.tolist())
        #print (df2.iloc[j].values.tolist())
        if (df1.iloc[i].values.tolist())==(df2.iloc[j].values.tolist()):
            df3.drop(i,inplace=True)
            break
print ('去重后\n',df3)

    a    b    c   d    e    f   g
0  23   23  443  72   23  443   0
1  23   65 -532   8   72 -532   9
2  46   72   72  23    8  234  72
3  51    8    8  51   65    9   8
4  32   72  234  32   72   72   7
5   2    8    9   2    8    8  65
6   2  123   23   2  123   23  83

     a    b    c   d    e    f   g
0  23   23  443  72   23  443   0
1  23   65 -532   8   72 -532   9
2  46   72   72  23    8  234  72
3  51    9    8  51   65    9   8
4  32   72  233  32   72   72   7
5   2    8    9   2    8    8  65
6   3  123   23   2  123   23  83
去重后
     a    b    c   d    e   f   g
3  51    8    8  51   65   9   8
4  32   72  234  32   72  72   7
6   2  123   23   2  123  23  83

In [164]:
#titanic 现只通过所有有统计的生还死亡人数进行分析
import pandas as pd
data=pd.read_csv("C:\\Users\\29410\\OneDrive\\py\\titanic\\train.csv",sep=",")
#计算男性的平均成活率
index1=data[data['Sex'] == 'male'].Survived
print ('男性成活率：',index1.values.tolist().count(1)/index1.count()*100,'%')
index2=data[data['Sex'] == 'female'].Survived
print ('女性成活率：',index2.values.tolist().count(1)/index2.count()*100,'%')
index3=data[data['Age'] <18].Survived
print ('小孩成活率(18岁以下)：',index1.values.tolist().count(1)/index1.count()*100,'%')
index4=data[data['Age'] >=18].Survived
print ('大人成活率(满18岁）：',index2.values.tolist().count(1)/index2.count()*100,'%')
print ('由以上数据可以得出，小孩成活率大于大人成活率，女性成活率远大于男性成活率。\
\nlady and kid first.情况属实')
index5=data[data['Survived'] ==1]
print ('成活人中女性人数：',index5.Sex.values.tolist().count('female')/index5.Sex.count()*100,'%\n男性人数：',index5.Sex.values.tolist().count('male')/index5.Sex.count()*100,'%')
print ('成活人中一等舱人数：',index5.Pclass.values.tolist().count(1)/index5.Pclass.count()*100,'%\n二等舱人数：',index5.Pclass.values.tolist().count(2)/index5.Pclass.count()*100,'%\n三等舱人数：',index5.Pclass.values.tolist().count(3)/index5.Pclass.count()*100,'%')
print ('成活人中年龄分布：\n',sorted(index5.Age.values[(index5.Age.values==index5.Age.values)]))
index5=data
print ('所有人中女性人数：',index5.Sex.values.tolist().count('female')/index5.Sex.count()*100,'%\n男性人数：',index5.Sex.values.tolist().count('male')/index5.Sex.count()*100,'%')
print ('所有人中一等舱人数：',index5.Pclass.values.tolist().count(1)/index5.Pclass.count()*100,'%\n二等舱人数：',index5.Pclass.values.tolist().count(2)/index5.Pclass.count()*100,'%\n三等舱人数：',index5.Pclass.values.tolist().count(3)/index5.Pclass.count()*100,'%')
print ('所有人中年龄分布：\n',sorted(index5.Age.values[(index5.Age.values==index5.Age.values)]))
index5=data[ data['Sex']=='female']
print ('女人中一等舱人数：',index5.Pclass.values.tolist().count(1),'其中获救人数：',index5[index5.Survived==1].Pclass.values.tolist().count(1),'\n二等舱人数：',index5.Pclass.values.tolist().count(2),'其中获救人数：',index5[index5.Survived==1].Pclass.values.tolist().count(2),'\n三等舱人数：',index5.Pclass.values.tolist().count(3),'其中获救人数：',index5[index5.Survived==1].Pclass.values.tolist().count(3))

男性成活率： 18.890814558058924 %
女性成活率： 74.20382165605095 %
小孩成活率(18岁以下)： 18.890814558058924 %
大人成活率(满18岁）： 74.20382165605095 %
由以上数据可以得出，小孩成活率大于大人成活率，女性成活率远大于男性成活率。
lady and kid first.情况属实
成活人中女性人数： 68.12865497076024 %
男性人数： 31.871345029239766 %
成活人中一等舱人数： 39.76608187134503 %
二等舱人数： 25.438596491228072 %
三等舱人数： 34.7953216374269 %
成活人中年龄分布：
 [0.42, 0.67, 0.75, 0.75, 0.83, 0.83, 0.92, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 7.0, 8.0, 8.0, 9.0, 9.0, 11.0, 12.0, 13.0, 13.0, 14.0, 14.0, 14.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 20.0, 20.0, 20.0, 21.0, 21.0, 21.0, 21.0, 21.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 23.0, 23.0, 23.0, 23.0, 23.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.5, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 37.0, 38.0, 38.0, 38.0, 38.0, 38.0, 39.0, 39.0, 39.0, 39.0, 39.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 41.0, 41.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 43.0, 44.0, 44.0, 44.0, 45.0, 45.0, 45.0, 45.0, 45.0, 47.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 49.0, 49.0, 49.0, 49.0, 50.0, 50.0, 50.0, 50.0, 50.0, 51.0, 51.0, 52.0, 52.0, 52.0, 53.0, 54.0, 54.0, 54.0, 55.0, 56.0, 56.0, 58.0, 58.0, 58.0, 60.0, 60.0, 62.0, 62.0, 63.0, 63.0, 80.0]
所有人中女性人数： 35.24130190796858 %
男性人数： 64.75869809203144 %
所有人中一等舱人数： 24.242424242424242 %
二等舱人数： 20.65095398428732 %
三等舱人数： 55.106621773288445 %
所有人中年龄分布：
 [0.42, 0.67, 0.75, 0.75, 0.83, 0.83, 0.92, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 7.0, 7.0, 7.0, 8.0, 8.0, 8.0, 8.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 10.0, 10.0, 11.0, 11.0, 11.0, 11.0, 12.0, 13.0, 13.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.5, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.5, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.5, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.5, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.5, 28.5, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.5, 30.5, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.5, 32.5, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.5, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.5, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.5, 40.5, 41.0, 41.0, 41.0, 41.0, 41.0, 41.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 43.0, 43.0, 43.0, 43.0, 43.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.5, 45.5, 46.0, 46.0, 46.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 49.0, 49.0, 49.0, 49.0, 49.0, 49.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 53.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 55.0, 55.0, 55.5, 56.0, 56.0, 56.0, 56.0, 57.0, 57.0, 58.0, 58.0, 58.0, 58.0, 58.0, 59.0, 59.0, 60.0, 60.0, 60.0, 60.0, 61.0, 61.0, 61.0, 62.0, 62.0, 62.0, 62.0, 63.0, 63.0, 64.0, 64.0, 65.0, 65.0, 65.0, 66.0, 70.0, 70.0, 70.5, 71.0, 71.0, 74.0, 80.0]
女人中一等舱人数： 94 其中获救人数： 91
二等舱人数： 76 其中获救人数： 70
三等舱人数： 144 其中获救人数： 72

In [342]:
#WorldCup
import pandas as pd
data=pd.read_csv("D:\\results2.csv",sep=",")
dataa = pd.DataFrame(columns =data.columns)
datab = pd.DataFrame(columns =data.columns)
print (dataa)
c=set(data['tournament'].values.tolist())
d=[]
for i in c:
    if ('World Cup' in i) and ('qualification' not in i):
        d.append(i)
#print (d)
data=data[  data['tournament'].isin(d)].reset_index()
teams1=set(data.home_team.values.tolist()+data.away_team.values.tolist())
ht=data.groupby('home_team')
at=data.groupby('away_team')
p1= pd.Series(0,index=teams)
#print (data)
# for i in teams:
#     if i in data.home_team.values.tolist():
#         p1[i]+=ht.get_group(i)[ht.get_group(i).home_score-ht.get_group(i).away_score>0].date.count()
#     if i in data.away_team.values.tolist():
#         p1[i]+=at.get_group(i)[at.get_group(i).home_score-at.get_group(i).away_score<0].date.count()
# print ('前20强：\n',p1.sort_values(ascending=False).head(20))
# for i in teams:
#     if i in data.home_team.values.tolist():
#         p1[i]+=ht.get_group(i).home_score.sum()
#     if i in data.away_team.values.tolist():
#         p1[i]+=at.get_group(i).away_score.sum()
# print ('胜球数目统计：\n',p1.sort_values(ascending=False))
teams2=['Russia','Germany','Brazil','Portugal','Argentina','Belgium','Poland','France','Spain','Peru','Colombia','Mexico','Switzerland','England','Uruguay','Croatia','Denmark','Sweden','Iceland','Costa Rica','Iran','Tunisia','Egypt','Senegal','Serbia','Nigeria','Australia','Japan','Korea Republic','Saudi Arabia','Morocco','Panama']
for i in range(data.shape[0]):
    data.date.values[i]=data.date.values[i][0:4]
    if data.date.values[i] == '2018':
        dataa.loc[i]=data.iloc[i]
    else:
        datab.loc[i]=data.iloc[i]
for j in teams2:
    if j not in datab['away_team'].values.tolist() and j not in datab['home_team'].values.tolist():
        print (j,'首次打入世界杯')
for i in data.groupby('date'):
    if(i[0]>='1978'):
        print (i[0],'年：')
        ht=i[1].groupby('home_team')
        at=i[1].groupby('away_team')
        p1= pd.Series(0,index=teams2)
        for j in teams2:
            if j in i[1].home_team.values.tolist():
                p1[j]+=ht.get_group(j)[ht.get_group(j).home_score-ht.get_group(j).away_score>0].date.count()
            if j in i[1].away_team.values.tolist():
                p1[j]+=at.get_group(j)[at.get_group(j).home_score-at.get_group(j).away_score<0].date.count()
        print ('赢场数量：\n',p1.sort_values(ascending=False))
        for j in teams2:
            if j in i[1].home_team.values.tolist():
                p1[j]+=ht.get_group(j).home_score.sum()
            if j in i[1].away_team.values.tolist():
                p1[j]+=at.get_group(j).away_score.sum()
        print ('进球数量：\n',p1.sort_values(ascending=False).head(32))
        #print (i[1]['home_team'].tolist())

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral]
Index: []
Iceland 首次打入世界杯
Panama 首次打入世界杯
1978 年：
赢场数量：
 Argentina         5
Brazil            4
Poland            3
Peru              2
Germany           1
France            1
Spain             1
Tunisia           1
Panama            0
Uruguay           0
Portugal          0
Belgium           0
Colombia          0
Mexico            0
Switzerland       0
England           0
Croatia           0
Morocco           0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 Argentina         20
Brazil            14
Germany           11
Peru               9
Poland             9
France             6
Tunisia            4
Spain              3
Mexico             2
Iran               2
Sweden             1
Colombia           0
Panama             0
England            0
Belgium            0
Portugal           0
Switzerland        0
Croatia            0
Uruguay            0
Morocco            0
Denmark            0
Iceland            0
Costa Rica         0
Egypt              0
Senegal            0
Serbia             0
Nigeria            0
Australia          0
Japan              0
Korea Republic     0
Saudi Arabia       0
Russia             0
dtype: int64
1982 年：
赢场数量：
 Brazil            4
Germany           3
Poland            3
France            3
England           3
Russia            2
Argentina         2
Belgium           2
Spain             1
Morocco           0
Portugal          0
Peru              0
Colombia          0
Mexico            0
Switzerland       0
Uruguay           0
Panama            0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Croatia           0
dtype: int64
进球数量：
 Brazil            19
France            19
Germany           15
Poland            14
Argentina         10
Russia             9
England            9
Belgium            5
Spain              5
Peru               2
Morocco            0
Portugal           0
Colombia           0
Mexico             0
Switzerland        0
Uruguay            0
Panama             0
Denmark            0
Sweden             0
Iceland            0
Costa Rica         0
Iran               0
Tunisia            0
Egypt              0
Senegal            0
Serbia             0
Nigeria            0
Australia          0
Japan              0
Korea Republic     0
Saudi Arabia       0
Croatia            0
dtype: int64
1986 年：
赢场数量：
 Argentina         6
France            4
Brazil            4
Spain             3
Germany           3
Denmark           3
Mexico            3
England           2
Russia            2
Belgium           2
Poland            1
Portugal          1
Morocco           1
Uruguay           0
Peru              0
Colombia          0
Switzerland       0
Panama            0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Croatia           0
dtype: int64
进球数量：
 Argentina         20
France            16
Spain             14
Belgium           14
Russia            14
Brazil            14
Denmark           13
Germany           11
England            9
Mexico             9
Korea Republic     4
Morocco            4
Portugal           3
Poland             2
Uruguay            2
Peru               0
Colombia           0
Switzerland        0
Panama             0
Sweden             0
Iceland            0
Costa Rica         0
Iran               0
Tunisia            0
Egypt              0
Senegal            0
Serbia             0
Nigeria            0
Australia          0
Japan              0
Saudi Arabia       0
Croatia            0
dtype: int64
1990 年：
赢场数量：
 Germany           5
Brazil            3
England           3
Argentina         2
Belgium           2
Spain             2
Costa Rica        2
Russia            1
Uruguay           1
Colombia          1
Portugal          0
Poland            0
France            0
Peru              0
Mexico            0
Switzerland       0
Panama            0
Morocco           0
Denmark           0
Sweden            0
Iceland           0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Croatia           0
dtype: int64
进球数量：
 Germany           20
England           11
Spain              8
Belgium            8
Brazil             7
Argentina          7
Costa Rica         6
Colombia           5
Russia             5
Sweden             3
Uruguay            3
Korea Republic     1
Egypt              1
Switzerland        0
France             0
Poland             0
Portugal           0
Peru               0
Mexico             0
Panama             0
Morocco            0
Denmark            0
Iceland            0
Iran               0
Tunisia            0
Senegal            0
Serbia             0
Nigeria            0
Australia          0
Japan              0
Saudi Arabia       0
Croatia            0
dtype: int64
1994 年：
赢场数量：
 Brazil            5
Germany           3
Sweden            3
Belgium           2
Spain             2
Saudi Arabia      2
Nigeria           2
Argentina         2
Mexico            1
Colombia          1
Russia            1
Switzerland       1
France            0
Peru              0
Poland            0
England           0
Portugal          0
Panama            0
Uruguay           0
Morocco           0
Denmark           0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Australia         0
Japan             0
Korea Republic    0
Croatia           0
dtype: int64
进球数量：
 Sweden            18
Brazil            16
Germany           12
Spain             12
Argentina         10
Nigeria            9
Russia             8
Saudi Arabia       7
Switzerland        6
Belgium            6
Colombia           5
Mexico             5
Korea Republic     4
Morocco            2
Poland             0
France             0
Portugal           0
Peru               0
Panama             0
England            0
Uruguay            0
Denmark            0
Iceland            0
Costa Rica         0
Iran               0
Tunisia            0
Egypt              0
Senegal            0
Serbia             0
Australia          0
Japan              0
Croatia            0
dtype: int64
1998 年：
赢场数量：
 France            6
Croatia           5
Brazil            4
Germany           3
Argentina         3
Serbia            2
Denmark           2
England           2
Nigeria           2
Iran              1
Spain             1
Colombia          1
Morocco           1
Mexico            1
Belgium           0
Switzerland       0
Peru              0
Portugal          0
Poland            0
Panama            0
Uruguay           0
Sweden            0
Iceland           0
Costa Rica        0
Tunisia           0
Egypt             0
Senegal           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 France            21
Brazil            18
Croatia           16
Argentina         13
Germany           11
Denmark           11
Mexico             9
Spain              9
England            9
Nigeria            8
Serbia             7
Morocco            6
Belgium            3
Iran               3
Korea Republic     2
Saudi Arabia       2
Colombia           2
Tunisia            1
Japan              1
Poland             0
Peru               0
Portugal           0
Panama             0
Switzerland        0
Uruguay            0
Sweden             0
Iceland            0
Costa Rica         0
Egypt              0
Senegal            0
Australia          0
Russia             0
dtype: int64
2002 年：

赢场数量：
 Brazil            7
Germany           5
Korea Republic    3
Spain             3
Denmark           2
Japan             2
Senegal           2
Mexico            2
England           2
Croatia           1
Portugal          1
Argentina         1
Belgium           1
Poland            1
Russia            1
Sweden            1
Costa Rica        1
France            0
Saudi Arabia      0
Australia         0
Nigeria           0
Serbia            0
Egypt             0
Tunisia           0
Iran              0
Morocco           0
Peru              0
Colombia          0
Switzerland       0
Iceland           0
Uruguay           0
Panama            0
dtype: int64
进球数量：
 Brazil            25
Germany           19
Spain             13
Korea Republic    11
Senegal            9
England            8
Portugal           7
Belgium            7
Japan              7
Denmark            7
Costa Rica         6
Mexico             6
Sweden             6
Russia             5
Uruguay            4
Poland             4
Argentina          3
Croatia            3
Tunisia            1
Nigeria            1
Morocco            0
Switzerland        0
Iceland            0
Colombia           0
Peru               0
Iran               0
France             0
Egypt              0
Serbia             0
Australia          0
Saudi Arabia       0
Panama             0
dtype: int64
2006 年：
赢场数量：
 Germany           5
Brazil            4
Portugal          4
France            4
Argentina         3
England           3
Spain             3
Switzerland       2
Sweden            1
Korea Republic    1
Australia         1
Poland            1
Mexico            1
Panama            0
Colombia          0
Peru              0
Belgium           0
Croatia           0
Uruguay           0
Morocco           0
Denmark           0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Japan             0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 Germany           19
Brazil            14
Argentina         14
France            13
Spain             12
Portugal          11
England            9
Mexico             6
Switzerland        6
Australia          6
Korea Republic     4
Sweden             4
Poland             3
Tunisia            3
Costa Rica         3
Croatia            2
Serbia             2
Japan              2
Saudi Arabia       2
Iran               2
Belgium            0
Peru               0
Panama             0
Colombia           0
Uruguay            0
Morocco            0
Denmark            0
Iceland            0
Egypt              0
Senegal            0
Nigeria            0
Russia             0
dtype: int64
2008 年：
赢场数量：
 Panama            0
Morocco           0
Germany           0
Brazil            0
Portugal          0
Argentina         0
Belgium           0
Poland            0
France            0
Spain             0
Peru              0
Colombia          0
Mexico            0
Switzerland       0
England           0
Uruguay           0
Croatia           0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 Panama            0
Morocco           0
Germany           0
Brazil            0
Portugal          0
Argentina         0
Belgium           0
Poland            0
France            0
Spain             0
Peru              0
Colombia          0
Mexico            0
Switzerland       0
England           0
Uruguay           0
Croatia           0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
2009 年：
赢场数量：
 Panama            0
Morocco           0
Germany           0
Brazil            0
Portugal          0
Argentina         0
Belgium           0
Poland            0
France            0
Spain             0
Peru              0
Colombia          0
Mexico            0
Switzerland       0
England           0
Uruguay           0
Croatia           0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 Panama            0
Morocco           0
Germany           0
Brazil            0
Portugal          0
Argentina         0
Belgium           0
Poland            0
France            0
Spain             0
Peru              0
Colombia          0
Mexico            0
Switzerland       0
England           0
Uruguay           0
Croatia           0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
2010 年：
赢场数量：
 Spain             6
Germany           5
Argentina         4
Brazil            3
Uruguay           3
Japan             2
Switzerland       1
Denmark           1
Korea Republic    1
Australia         1
Serbia            1
Portugal          1
Mexico            1
England           1
Colombia          0
Panama            0
Peru              0
France            0
Poland            0
Belgium           0
Croatia           0
Morocco           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Nigeria           0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 Germany           21
Argentina         14
Uruguay           14
Spain             14
Brazil            12
Portugal           8
Korea Republic     7
Japan              6
Mexico             5
Denmark            4
Australia          4
England            4
Serbia             3
Nigeria            3
Switzerland        2
France             1
Colombia           0
Belgium            0
Poland             0
Peru               0
Panama             0
Croatia            0
Morocco            0
Sweden             0
Iceland            0
Costa Rica         0
Iran               0
Tunisia            0
Egypt              0
Senegal            0
Saudi Arabia       0
Russia             0
dtype: int64
2012 年：
赢场数量：
 Panama            0
Morocco           0
Germany           0
Brazil            0
Portugal          0
Argentina         0
Belgium           0
Poland            0
France            0
Spain             0
Peru              0
Colombia          0
Mexico            0
Switzerland       0
England           0
Uruguay           0
Croatia           0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 Panama            0
Morocco           0
Germany           0
Brazil            0
Portugal          0
Argentina         0
Belgium           0
Poland            0
France            0
Spain             0
Peru              0
Colombia          0
Mexico            0
Switzerland       0
England           0
Uruguay           0
Croatia           0
Denmark           0
Sweden            0
Iceland           0
Costa Rica        0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Nigeria           0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
2014 年：
赢场数量：
 Germany           6
Argentina         5
Belgium           4
Colombia          4
Brazil            3
France            3
Mexico            2
Uruguay           2
Switzerland       2
Costa Rica        2
Croatia           1
Portugal          1
Nigeria           1
Spain             1
Poland            0
Peru              0
England           0
Panama            0
Morocco           0
Denmark           0
Sweden            0
Iceland           0
Iran              0
Tunisia           0
Egypt             0
Senegal           0
Serbia            0
Australia         0
Japan             0
Korea Republic    0
Saudi Arabia      0
Russia            0
dtype: int64
进球数量：
 Germany           24
Colombia          16
Brazil            14
Argentina         13
France            13
Belgium           10
Switzerland        9
Mexico             7
Costa Rica         7
Croatia            7
Uruguay            6
Spain              5
Portugal           5
Nigeria            4
Australia          3
Korea Republic     3
England            2
Russia             2
Japan              2
Iran               1
Morocco            0
Denmark            0
Sweden             0
Iceland            0
Peru               0
Tunisia            0
Poland             0
Egypt              0
Senegal            0
Serbia             0
Saudi Arabia       0
Panama             0
dtype: int64
2018 年：

赢场数量：
 Belgium           5
France            5
Uruguay           4
Croatia           3
Sweden            3
Brazil            3
England           3
Colombia          2
Mexico            2
Russia            2
Tunisia           1
Korea Republic    1
Germany           1
Saudi Arabia      1
Portugal          1
Denmark           1
Argentina         1
Senegal           1
Serbia            1
Switzerland       1
Nigeria           1
Iran              1
Peru              1
Spain             1
Japan             1
Poland            1
Australia         0
Morocco           0
Egypt             0
Iceland           0
Costa Rica        0
Panama            0
dtype: int64
进球数量：
 Belgium           19
France            15
England           14
Croatia           13
Russia            13
Brazil            11
Uruguay           11
Sweden             9
Spain              8
Colombia           8
Japan              7
Portugal           7
Argentina          7
Switzerland        6
Tunisia            6
Senegal            5
Mexico             5
Korea Republic     4
Denmark            4
Nigeria            4
Saudi Arabia       3
Iran               3
Peru               3
Germany            3
Serbia             3
Poland             3
Australia          2
Morocco            2
Iceland            2
Costa Rica         2
Egypt              2
Panama             2
dtype: int64